# Replace 'pentrack-yourname' with your chosen app name (must be globally unique on Fly.io)
app = 'pentrack-kf'
primary_region = 'ord'

[build]

[env]
  DATA_DIR = '/data'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[[mounts]]
  source = 'pentrack_data'
  destination = '/data'
